button {
	background-color: var(--bg-color, #0088cc);
	border: 1px solid var(--bg-color, #0088cc);
	border-radius: var(--radius, 0.25em);
	color: var(--color, #ffffff);
	font-size: var(--size, 1.5em);
	padding: 0.5em 1em;
}